// here is ma boi
// here is ma boi
// here is ma boi
// here is ma boi
// here is ma boi

// $grid-breakpoints: ( xs: 0, sm: 1px, md: 768px, lg: 1521px, ) !default;
// $container-max-widths: ( sm: 530px, md: , lg: 1520px, ) !default;

$grid-breakpoints: ( xs: 0, sm: 788px, md: 1366px, lg: 1521px, ) !default;
$container-max-widths: ( sm: 760px, md: 1360px, lg: 1520px, ) !default;
// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;


//@import '../../node_modules/bootstrap-4-grid/scss/grid';

//@import '../js/select2.min.css';
@import 'mixins';
@import 'fonts';
@import 'slick';
@import 'lightbox';



.slick-slider{
  width: 100%;
}

header,footer{
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: #1a2231;
  font-size: 16px;
  line-height: 150%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

input{
  outline: none;
      transition: all .3s;
}

a{
  transition: all .3s;
  text-decoration: none;
  color: #FF5200;
  &:hover{
    text-decoration: none;
  }
}

form{
  margin-bottom: 0;
}

img{
  max-width: 100%;
}

p{
  line-height: 18px;
}



input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



.container{
  width: 100%;
  max-width: calc(1366px + 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; 
  box-sizing: border-box;
}

.header{
  font-family: 'Roboto';
  background: url('../images/header-bg.png');
  color: #fff;
  font-weight: bold;
}

.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}


.nav__ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  margin-right: 50px;
  font-size: 14px;
  transition: all .3 ease;

  &--active{
    color: #FF5200;
  }

  &:hover{
    color: #FF5200;
  }
}

.hero{
  
  color: #fff;
  text-align: center;
  min-height: 600px;
}

.hero-bg{
  background: url('../images/hero-bg.png') no-repeat center;
  background-size: cover;
}

.hero__text{
  margin: auto;
  padding-top: 120px;
  padding-bottom: 150px;
  max-width: 846px;
}



.hero__text-top{
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3.5px;
  padding-bottom: 40px;
}

.hero__text-mid{
  padding-bottom: 40px;
  font-size: 66px;
  font-weight: 300;
  line-height: 120%;

  .bold-italic{
    font-style: italic;
    font-weight: bold;
  }
}

.hero__text-mid-span{
  position: relative;

  &::before{
    position: absolute;
    content: '';
    height: 100%;
    background: #FF5200;
    width: 100%;
    left: 0;
    top: 0;
    transform: skew(-10deg);
  }
}

.hero__text-bot{
  font-weight: 100;
  font-size: 28px;
  line-height: 144%;
}

.roadmap{

}

.ttl2{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.roadmap__title{
  margin-top: 75px;
  margin-bottom: 70px;
}

.roadmap__ul{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.roadmap__item{
  width: 100%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 80px;
  position: relative;

  &:last-child{
    margin-right: 0;
  }

  &:last-child::after{
    display: none;
  }

  &:after{
    position: absolute;
    content: '';
    top: 10%;
    right: -40px;
    background: url(../images/ar.png);
    background-size: cover;
    width: 16px;
    height: 28px;
  }

}

.roadmap__img{
  margin-bottom: 38px;
}

.roadmap__item-title{
  font-weight: bold;
  margin-bottom: 22px;
  font-size: 21px;
}

.roadmap__desc{
  font-weight: 100;
  font-size: 18px;
}

.roadmap__extra{
  margin-top: 60px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.getprizes{
  color: #fff ;
}

.getprizes__title{
  padding-top: 60px;
  font-weight: 300;
  padding-bottom: 45px;
  font-size: 34px;
  text-align: center;
}

.getprizes-bg{
  background: url('../images/getprizes-bg.png') center;
  background-size: cover;
  min-height: 600px;
}


















@import 'responsive';