//col = xs

//$grid-breakpoints: ( xs: 0, sm: 768px, md: 1366px, lg: 1521px, ) !default;
$sm: 528px; $md:768px ;$tb: 1360px;  $lg: 1521px;


// @media only (max-width: $lg) {


	
// }

@media only (max-width: 1790px) {
	.lk-name{
		margin-left: auto;
	}
	
}

@media only (max-width: 1100px) {
	.df{
		flex-wrap:wrap;
	}
	
	.grf{
		flex-wrap:wrap;
	}

	.gr__item{
		margin-bottom: 40px;
	}

	.section-sale{
		height: auto;
	}
	.section-lk{
		height: auto;
	}
	.main_sale{
		order: 5;
		flex-direction: row;
		height: auto;
	}

	.main_sale .main{
		flex-direction: row;
		max-width: 100%;
		-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-y: scroll;
	}

	.main_sale .main__img{
		min-width: 160px;
	}

	.sale__title{
		line-height: 130%;
		text-align: center;
	}

	.gr{
		flex-wrap: wrap;
	}

	.gr__img{
		width: 60px;
	}

	.main__img{
		padding-right: 0;
		padding-top: 10px;
	}

	.main__img.active::after{

		content: '';
		position: absolute;
		width: 100%;
		background: #de0a1c;
		right: auto;
		height: 5px;
		left: 0;
		top: 0;
	}

	.header_container{
		background-image: none;
	}

	.header.header_logout .header_nav_anim{
		transform: translateX(-210px);
    max-width: 620px;
	}


}

@media only (max-width: $md) {
	.df_mob{
		flex-wrap: nowrap;
	}

	.section-lk{
		height: auto;
	}
	.lk-name{
		margin-left: 0;
		margin-bottom: 40px;
	}

	.lk__tabs{
		flex-wrap: wrap;
	}

	.footer_container{
		flex-direction:column;
	}

	.footer__right{
		order: -1;
		justify-content: flex-start;
		margin-bottom: 30px;
		min-width: 0;

	}

	.start__title{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 30px;
	}

	.start__desc{
		font-size: 20px;
		line-height: 25px;
	}

	.start__links-img{
		padding: 10px;
	}

	.start__links{
		margin-bottom: 50px;
	}

	.start__start{
		font-size: 18px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 50px;
	}

	.main__img{
		width: 50%;
	}

	.df{
		flex-direction: column;
	}

	.main_sale{
		order: 5;
		flex-direction: row;
		height: auto;
	}

	.main_sale .main{
		flex-direction: row;
		max-width: 100%;
		-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-y: scroll;
	}


	.sale__title{
		line-height: 130%;
		text-align: center;
	}

	.gr{
		flex-wrap: wrap;
	}

	.gr__img{
		width: 60px;
	}

	.gr2{
		flex-wrap: wrap;
	}

	.gr2__item{
		margin: 0;
		margin-bottom: 30px;
	}

	.gr__item:nth-child(2){
		margin-right: 0;
	}
	

	.tab_item{
		overflow: auto;
	}

	.lk-name{
		min-width: 75%;
		margin-bottom: 40px;
		box-sizing: border-box;
		font-size: 25px;
	}

	.lk__tabs{
		margin-bottom: 40px;
	}
	.modal_inner{
		padding-left: 20px;
		padding-right: 20px;
		transform: translate(0, 30px);

	}

	.modal_overlay{
		overflow: auto;
	}

	.modal{
	}

	.modal__can{
		margin-bottom: 40px;
	}

	.header__inner{
		padding-left: 0;
		padding-right: 0;
	}

	.menu{
		right: 20px;
		top: -80px;
	}

	.nav{
		top: 20px;
	}

	.nav__li{
		font-size: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 30px;
		padding-left: 20px;
		border-bottom: 1px solid red;
	}

	.header_container{
		background-position: calc(100% + 446px) 0;
		padding-right: 20px;;
	}

	.logos__slogan{
		font-size: 16px;
		line-height: 130%;
		margin-right: 0;
		margin-top: 20px;
		margin-left: 0;
	}
	.logos{
		flex-wrap: wrap;

	}
	.main__img{
		min-width: 0 !important;
    flex-shrink: 0;
    width: auto;
    max-width: 160px;
	}

	.nav__ul{
		flex-direction: column;
		position: fixed;
		background: #fff;
	}

	.header_container{
		overflow: auto;
	}

	.nav{
		position: fixed;
	}

	.logout__btn-icon{
		width: 55px;
	}

	.logout{
		margin-right: 80px;
	}
	.header.header_logout{
		.header_nav_anim{
			transform: none;
		}
	
		.nav__ul{top: 40px;}
	}

	
 
}



// @media only (max-width: $sm) {

 
// }



