html(lang='en')
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body
		include includes/header
		section.content
			section.hero
				.container.hero-bg
					.hero__text
						h1.hero__text-top GRAND PRIX G-CLUB PROFESSIONAL
						.hero__text-mid Участвуй в гонке</br><span class='hero__text-mid-span'>за <span class='bold-italic'>продажами</span></span> и <span class='hero__text-mid-span'><span class='bold-italic'>знаниями</span></span>
						.hero__text-bot Выигрывай денежные подарки, ценные призы и<br>поездку в солнечную Грузию
			section.roadmap.roadmap_race-sale
				.container
					h2.roadmap__title.ttl2 Гонка за продажами
					ul.roadmap__ul
						li.roadmap__item
							.roadmap__img
								img(src="images/product-1.png")
							.roadmap__item-title Закупай продукцию
							.roadmap__desc Приобретай продукцию G-Energy через торговых представителей
						li.roadmap__item
							.roadmap__img
								img(src="images/product-2.png")
							.roadmap__item-title Получай денежные призы
							.roadmap__desc Получай деньги на карту, участвуя в сезонных акциях
						li.roadmap__item
							.roadmap__img 
								img(src="images/product-3.png")
							.roadmap__item-title Становись лучше
							.roadmap__desc Становись лучшим по объему закупленных литров G-Energy, выигрывай Гран-при и поездку в Грузию
					.roadmap__extra Следи за результатами гонки продаж <a href="#!">в общем рейтинге</a> на сайте.
			section.getprizes
				.container.getprizes-bg
					h2.getprizes__title Зарабатывай ценные призы
					ul.getprizes__ul
						li.getprizes__li
							.getprizes__img
								img(src="images/getprizes/1.png")
								
						
		

					


		include includes/footer


