header.header
	.container
		.header_inner
			nav.nav
				ul.nav__ul
					li.nav__li
						a.nav__link.nav__link--active(href="#!") О клубе
					li.nav__li
						a.nav__link(href="#!") гонка за продажами
					li.nav__li
						a.nav__link(href="# !") Гонка за знаниями
					li.nav__li
						a.nav__link(href="#!") Рейтинги
					li.nav__li
						a.nav__link(href="#!") Победители
			.logo
				.logo__img
					img(src='images/logo.png')


