section.section-modals
	.modal(id='completereg')
		
		.modal_inner.modal_reg_complete
			.modal__title.ttl3 завершить регистрацию
			form.modal__form
					.feild
						.field__title Введите, пожалуйста, пароль, которыймы отправили на ваш телефон по смс
						input.field__input(type='text' placeholder='пароль из sms')
					
					.modal__form-row
						button.green_btn(type="submit") OK
			.modal__can
				img(src="images/can.png", alt="")
	.modal(id='reg')
		
		.modal_inner.modal_reg
			.modal__title.ttl3 регистрация
			form.modal__form
					.feild
						input.field__input(type='text' placeholder='Фамилия')
					.feild
						input.field__input(type='text' placeholder='Имя')
					.feild
						input.field__input(type='text' placeholder='Телефон')
					.feild
						input.field__input(type='text' placeholder='E-mail')
					
					.modal__form-row
						.feild.field_checkbox Я ознакомлен с <a href='#!'>правилами акции</a>
							input(type="checkbox", name="")
							span
					.modal__form-row
						.feild.field_checkbox Я согласен на обработку персональных данных.
							input(type="checkbox", name="")
							span
					.modal__form-row
						.feild.field_checkbox.captcha я не робот
							input(type="checkbox", name="")
							span
					.modal__form-row
						button.green_btn(type="submit") зарегистрироваться
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='auth')
		
		.modal_inner.modal_auth
			.modal__title.ttl3 авторизация
			form.modal__form
					.feild
						input.field__input(type='text' placeholder='телефон')
					.feild
						input.field__input(type='text' placeholder='пароль')
					.modal__form-row
						button.green_btn(type="submit") Получить приз
					.modal__form-row
						span
							a.modal_trigger(href="#forgotpass") Забыли пароль?
					.modal__form-row
						span Впервые на сайте?
							a.modal_trigger(href="#reg")  Зарегистрируйтесь
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='firstauth')
		.modal_inner.modal_firstauth
			.modal__title.ttl3 Я участвовал в акциях <b>Coke&Meal</b>, у меня есть логин и пароль.
			.buttons
				a.buttons__button.button_y.modal_trigger(href="#auth") ДА
				a.buttons__button.button_n.modal_trigger(href="#reg") НЕТ
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='check')
		.modal_inner
			.modal__title.ttl3 загрузить чек
			button.check загрузить чек
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='getgift')
		
		.modal_inner.modal_getgift
			.modal__title.modal_getgift_title.ttl3 Получение приза
			.modal__s <span>*</span> Все поля обязательны для заполнения
			.modal__name Иваненко Светлана Игоревна
			.modal__contacts
				.modal__phone +7 (922) 667-89-09
				.modal__mail volkonskih@mail.ru
			form.modal__form
					.feild.field_short
						.feild__title Дата рождения
						input.field__input(type='text' placeholder='ДД/ММ/ГГ')
					.feild
						.feild__title Адрес по прописке
						input.field__input(type='text' placeholder='г. Москва, ул. Большевиков, д. 1 с. 2, кв.186')
						
					.feild
						.feild__title Адрес доставки
						input.field__input(name="" placeholder='Регион')
						<select class="js-example-basic-single" name="state">
							<option value="AL">Alabama</option>
							<option value="WY">Wyoming</option>
						</select>
					.feild
						input.field__input(name="" placeholder='Город')
						<select class="js-example-basic-single field__input" name="state">
							<option value="AL">Alabama</option>
							<option value="WY">Wyoming</option>
						</select>
					.feild
						input.field__input(name="" placeholder='Улица')
						<select class="js-example-basic-single" name="state">
							<option value="AL">Alabama</option>
							<option value="WY">Wyoming</option>
						</select>
					.modal__form-row
						.feild.field_short
							input.field__input(name="" placeholder='№ дома')
						.feild.field_short
							input.field__input(name="" placeholder='№ квартиры')
					.modal__form-row.submit
						button.gr__btn(type="submit") Получить приз
					//- .feild.field_checkbox Я согласен на обработку персональных данных.
					//- 	input(type="checkbox", name="")
						span
			.modal__can
				img(src="images/can.png", alt="")